 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Convert | Export html Table to CSV & EXCEL File</title>
     <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
 </head>
 
 <body>
     <main class="table" id="customers_table">
         <section class="table__header">
             <h1>Incident</h1>
             <div class="input-group">
                 <input type="search" placeholder="Search Data...">
                 <!-- <img src="images/search.png" alt=""> -->
             </div>
             <!-- <div class="export__file">
                 <label for="export-file" class="export__file-btn" title="Export File"></label>
                 <input type="checkbox" id="export-file">
                 <div class="export__file-options">
                     <label>Export As &nbsp; &#10140;</label>
                     <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                     <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                     <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                     <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                 </div>
             </div> -->
             <a href="/ajout_incident_form"><button>Ajout ticket</button></a>
         </section>
         <section class="table__body">
             <table>
                 <thead>
                     <tr>
                         <th> Id <span class=""></span></th>
                         <th> Incident <span class="icon-arrow"></span></th>
                         <th> Type <span class="icon-arrow"></span></th>
                         <th> Echeance <span class="icon-arrow"></span></th>
                         <th> Status <span class="icon-arrow"></span></th>
                         <th> Priorite <span class="icon-arrow"></span></th>
                     </tr>
                 </thead>
                 <tbody>
                    <!-- cancelled shipped pending-->
                     <tr *ngFor="let incident of listIncidents">
                         <td> {{incident.id}} </td>
                         <td> {{incident.incident}}</td>
                         <td> {{incident.type}} </td>
                         <td> {{incident.echeance}}  </td>
                         <td>
                             <p *ngIf="incident.status == 'delivered'" class="status delivered">Fini</p>
                             <p *ngIf="incident.status == 'cancelled'" class="status cancelled">Annuler</p>
                             <p *ngIf="incident.status == 'new'" class="status shipped">Nouveu</p>
                             <p *ngIf="incident.status == 'pending'" class="status pending">En cours</p>
                         </td>
                         <td> <strong> {{incident.priorite}}  </strong></td>
                     </tr>

                 </tbody>
             </table>
         </section>
     </main>
     <script src="script.js"></script>
 
 </body>
 
 </html>