<body>
    <div class="session">
      
      <form action="" class="log-in" autocomplete="off" [formGroup]="FormInput" (ngSubmit)="submit()"> 
        <h4>Ajout Incident</h4>
        <!-- <p>Welcome back! Log in to your account to view today's clients:</p> -->
        <div class="floating-label">
          <input placeholder="Incident" type="text" name="incident" id="incident" autocomplete="off" formControlName="incident">
          <label for="incident">Incident:</label>

        </div>
        <div class="floating-label">
          <input placeholder="Type" type="text" name="type" id="type" autocomplete="off" formControlName="type">
          <label for="type">Type:</label>

          
        </div>
        <div class="floating-label">
            <input placeholder="Priorite" type="text" name="priorite" id="priorite" autocomplete="off" formControlName="priorite">
            <label for="priorite">Priorite:</label>
  
          </div>

          <div class="incident-success" *ngIf="message">
            <h5  ><b>{{message}}</b></h5>
          </div>

          <div class="incident-error" *ngIf="error">
            <h5  ><b>{{error}}</b></h5>
          </div>
        <button type="submit">Ajout</button>
      </form>
    </div>
  </body>